#header
  background: url("../img/topheader.png") no-repeat
  background-size: cover
  height: 800px
  color: white
  text-align: center
  overflow: hidden

  @media only screen and (max-width: 680px)
    height: 500px

  img
    max-width: 450px
    width: 100%

  article
    width: 80%
    margin: 0 auto

    @media only screen and (max-width: 680px)
      width: 100%
  
  h1
    color: white
    margin-bottom: 20px
    @media only screen and (max-width: 680px)
      margin-top: 60px
  p 
    @media only screen and (max-width: 680px)
      margin-bottom: 60px
    




